<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="../spring-hibernate.xml"/>

	<bean id="sourceManagerService" class="com.sones.facebook.source.selector.logic.FacebookSourceManagerService">
		<constructor-arg name="appUserDao" ref="appUserDao"/>
		<constructor-arg name="appUserSourceDao" ref="appUserSourceDao"/>
		<constructor-arg name="friendDao" ref="friendDao"/>
		<constructor-arg name="placeDao" ref="placeDao"/>
		<constructor-arg name="sourceDao" ref="sourceDao"/>
		<constructor-arg name="typeDao" ref="typeDao"/>
	</bean>
	
	<bean id="typeDao" class="com.sones.facebook.dao.hibernate.source.HibernateSourceTypeDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="appUserDao" class="com.sones.usermanager.dao.hibernate.HibernateApplicationUserDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="appUserSourceDao" class="com.sones.facebook.usermanager.dao.hibernate.HibernateApplicationUserSourceDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="friendDao" class="com.sones.facebook.downloader.dao.hibernate.HibarnateFacebookFriendDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="placeDao" class="com.sones.facebook.placemanager.dao.hibernate.HibernatePlaceDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="sourceDao" class="com.sones.facebook.dao.hibernate.source.HibernateSourceDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>

</beans>
