<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<import resource="../spring-hibernate.xml"/>

	<bean id="publicSourceDownloaderService" class="com.sones.facebook.publicsource.logic.PublicSourceService">
		<constructor-arg name="graphApiHandler" ref="graphApiHandler"/>
		<constructor-arg name="placeCategoryDao" ref="placeCategoryDao"/>
		<constructor-arg name="placeCriteriaDao" ref="placeCriteriaDao"/>
		<constructor-arg name="placeDao" ref="placeDao"/>
		<constructor-arg name="criteriaDao" ref="criteriaDao"/>
		<constructor-arg name="appUserDao" ref="appUserDao"/>
		<constructor-arg name="tokenDao" ref="tokenDao"/>
	</bean>
	
	<bean id="appUserDao" class="com.sones.usermanager.dao.hibernate.HibernateApplicationUserDao">
	  	<property name="hibernateTemplate" ref="hibernateTemplate"/>
	 </bean>
	 
	 <bean id="tokenDao" class="com.sones.facebook.tokenmanager.dao.hibernate.HibernateFacebookTokenDao">
	 	<property name="hibernateTemplate" ref="hibernateTemplate"/>
	 </bean>
	
	<bean id="graphApiHandler" class="com.sones.facebook.graphApi.GraphApiHandler.FacebookGraphApiHandler">
		<property name="jsonHandler" ref="jsonHandler"/>
		<property name="restHandler" ref="restHandler"/>
	</bean>
	
	<bean id="jsonHandler" class="com.sones.facebook.JsonHandler.FacebookJsonHandler">
	</bean>
	
	<bean id="restHandler" class="com.sones.facebook.graphApi.FacebookRestHandler.FacebookRestHandler">
	</bean>
	 
	<bean id="placeCategoryDao" class="com.sones.facebook.placemanager.dao.hibernate.HibernatePlaceCategoryDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="placeCriteriaDao" class="com.sones.facebook.placemanager.dao.hibernate.HibernatePlaceCriteriaDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="placeDao" class="com.sones.facebook.placemanager.dao.hibernate.HibernatePlaceDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="criteriaDao" class="com.sones.facebook.publicsource.dao.hibernate.HibernateCriteriaDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>

</beans>
