<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://dozer.sourceforge.net http://dozer.sourceforge.net/schema/beanmapping.xsd">
      
      <mapping>
      	<class-a>com.sones.sharedDto.facebook.GraphApi.Wall.WallUserCreateDto</class-a>
      	<class-b>com.sones.facebook.model.source.User</class-b>
      	<field>
      		<a>id.id</a>
      		<b>id</b>
      	</field>
      	<field>
      		<a>username</a>
      		<b>username</b>
      	</field>
      </mapping>
      
      <mapping>
      	<class-a>com.sones.sharedDto.facebook.GraphApi.Wall.WallCommentCreateDto</class-a>
      	<class-b>com.sones.facebook.model.feed.comment.Comment</class-b>
      	<field>
      		<a>id.id</a>
      		<b>id</b>
      	</field>
      	<field>
      		<a>message</a>
      		<b>message</b>
      	</field>
      	<field>
      		<a>user</a>
      		<b>user</b>
      	</field>
      </mapping>
      
      <mapping>
      	<class-a>com.sones.sharedDto.facebook.GraphApi.Wall.WallFacebookPostCreateDto</class-a>
      	<class-b>com.sones.facebook.model.feed.FacebookPost</class-b>
      	<field>
      		<a>id.id</a>
      		<b>id</b>
      	</field>
      	<field>
      		<a>user</a>
      		<b>user</b>
      	</field>
      	<field>
      		<a>comments</a>
      		<b>comments</b>
      		<b-hint>com.sones.facebook.model.feed.comment.Comment</b-hint>
      	</field>
      </mapping>
      
      <mapping>
      	<class-a>com.sones.sharedDto.facebook.GraphApi.Wall.WallPlaceCreateDto</class-a>
      	<class-b>com.sones.facebook.placemanager.model.Place</class-b>
      	<field>
      		<a>id.id</a>
      		<b>id</b>
      	</field>
      	<field>
      		<a>name</a>
      		<b>name</b>
      	</field>
      	<field>
      		<a>latitude</a>
      		<b>latitude</b>
      	</field>
      	<field>
      		<a>longitude</a>
      		<b>longitude</b>
      	</field>
      </mapping>
      
      <mapping>
      	<class-a>com.sones.sharedDto.facebook.GraphApi.Wall.WallCheckinCreateDto</class-a>
      	<class-b>com.sones.facebook.model.feed.Checkin</class-b>
      	<field>
      		<a>id.id</a>
      		<b>id</b>
      	</field>
      	<field>
      		<a>message</a>
      		<b>message</b>
      	</field>
      	<field>
      		<a>place</a>
      		<b>place</b>
      	</field>
      </mapping>
      
      <mapping>
      	<class-a>com.sones.sharedDto.facebook.GraphApi.Wall.WallLinkCreateDto</class-a>
      	<class-b>com.sones.facebook.model.feed.Link</class-b>     	
      </mapping>
      
       <mapping>
       	<class-a>com.sones.sharedDto.facebook.GraphApi.Wall.WallNoteCreateDto</class-a>
       	<class-b>com.sones.facebook.model.feed.Note</class-b>
       </mapping>
       
       <mapping>
       	<class-a>com.sones.sharedDto.facebook.GraphApi.Wall.WallPhotoCreateDto</class-a>
       	<class-b>com.sones.facebook.model.feed.Photo</class-b>
       </mapping>
       
       <mapping>
       	<class-a>com.sones.sharedDto.facebook.GraphApi.Wall.WallStatusMessageCreateDto</class-a>
       	<class-b>com.sones.facebook.model.feed.StatusMessage</class-b>
       </mapping>
       
       <mapping>
       	<class-a>com.sones.sharedDto.facebook.GraphApi.Wall.WallVideoCreateDto</class-a>
       	<class-b>com.sones.facebook.model.feed.Video</class-b>
       </mapping>
       
       <mapping>
            <class-a>com.sones.sharedDto.facebook.GraphApi.Wall.WallSourceCreateDto</class-a>
       		<class-b>com.sones.facebook.model.source.Source</class-b>
       		<field>
       			<a>id</a>
       			<b>id</b>
       		</field>
       		<field>
       			<a>type</a>
       			<b>type.type</b>
       		</field>
       </mapping>

       <mapping>
            <class-a>com.sones.sharedDto.facebook.GraphApi.Wall.WallSourceFacebookPostIdDto</class-a>
       		<class-b>com.sones.facebook.model.feed.SourceFacebookPostId</class-b>
       		<field>
       			<a>post</a>
       			<b>post</b>
       		</field>
       		<field>
       			<a>source</a>
       			<b>source</b>
       		</field>
       </mapping>
       
       <mapping>
       	<class-a>com.sones.sharedDto.facebook.GraphApi.Wall.WallSourceFacebookPostCreateDto</class-a>
       	<class-b>com.sones.facebook.model.feed.SourceFacebookPost</class-b>
       </mapping>
      
</mappings>
