<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<import resource="../spring-hibernate.xml"/>

	<bean id="appUserSource" class="com.sones.facebook.model.source.ApplicationUserSource">
		<property name="id" ref="appUserSourceId"/>
	</bean>
	
	<bean id="appUserSourceId" class="com.sones.facebook.model.source.ApplicationUserSourceId">
		<property name="appUser" ref="appUser"/>
		<property name="source" ref="source"/>
	</bean>
	
	<bean id="appUser" class="com.sones.userManager.model.ApplicationUser">
		<property name="id" value="1"/>
	</bean>
	
	<bean id="source" class="com.sones.facebook.model.source.Source">
		<property name="id" value="1"/>
		<property name="type" ref="sourceType"/>
	</bean>
	
	<bean id="sourceType" class="com.sones.facebook.model.source.SourceType">
		<property name="id" value="1"/>
		<property name="type" value="User"/>
	</bean>
	
	<bean id="appUserSourceDao" class="com.sones.facebook.dao.hibernate.source.HibernateApplicationUserSourceDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="appUserDao" class="com.sones.userManager.dao.hibernate.HibernateApplicationUserDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="sourceDao" class="com.sones.facebook.dao.hibernate.source.HibernateSourceDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="sourceTypeDao" class="com.sones.facebook.dao.hibernate.source.HibernateSourceTypeDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
</beans>
