<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
<import resource="spring-hibernate.xml"/>

<bean id="checkinDao" class="com.sones.facebook.dao.hibernate.feed.HibernateCheckinDao">
</bean>

<bean id="userDao" class="com.sones.facebook.dao.hibernate.source.HibernateUserDao">
</bean>

<bean id="commentDao" class="com.sones.facebook.dao.hibernate.feed.comment.HibernateCommentDao">
</bean>

<bean id="placeDao" class="com.sones.facebook.dao.hibernate.place.HibernatePlaceDao">
</bean>

<bean id="eventPostDao" class="com.sones.facebook.dao.hibernate.feed.HibernateEventPostDao">
</bean>

<bean id="eventDao" class="com.sones.facebook.dao.hibernate.source.HibernateEventDao">
</bean>

<bean id="facebookPostDao" class="com.sones.facebook.dao.hibernate.feed.HibernateFacebookPostDao">
</bean>


</beans>
