<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="../spring-hibernate.xml"/>
	
	<bean id="credentialDao" class="com.sones.usermanager.dao.hibernate.HibernateApplicationUserCredentialDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="appUserDao" class="com.sones.usermanager.dao.hibernate.HibernateApplicationUserDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="accountDao" class="com.sones.facebook.tokenmanager.dao.hibernate.HibernateFacebookAccountDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="applicationUserManagerService" class="com.sones.usermanager.logic.ApplicationUserManagerService">
		<constructor-arg name="accountDao" ref="accountDao"/>
		<constructor-arg name="appUserDao" ref="appUserDao"/>
		<constructor-arg name="credentialDao" ref="credentialDao"/>
	</bean>
	
</beans>
