<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="../spring-hibernate.xml"/>
	
	<bean id="keywordSearchDao" class="com.sones.facebook.keywordSearcher.dao.hibernate.HibernateKeywordSearchDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="resultDao" class="com.sones.facebook.keywordSearcher.dao.hibernate.HibernateFacebookPostKeywordResultDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="keywordRetrieverService" class="com.sones.facebook.keywordSearcher.logic.KeywordRetrieverService">
		<constructor-arg name="keywordSearchDao" ref="keywordSearchDao"/>
		<constructor-arg name="resultDao" ref="resultDao"/>
	</bean>
</beans>
