<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="spring-facebook-saver-logic.xml"/>
	
	<bean id="facebookDownloaderService" class="com.sones.facebook.downloader.logic.FacebookDownloaderService">
		<property name="appUserSourceDao" ref="appUserSourceDao"/>
		<property name="downloadDao" ref="downloadDao"/>
		<property name="graphApiHandler" ref="graphApiHandler"/>
		<property name="mapper" ref="dozerMapper"/>
		<property name="postDownloadDao" ref="postDownloadDao"/>
		<property name="saverService" ref="saverLogic"/>
		<property name="tokenDao" ref="tokenDao"/>
	</bean>
	
	<bean id="appUserSourceDao" class="com.sones.facebook.usermanager.dao.hibernate.HibernateApplicationUserSourceDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="downloadDao" class="com.sones.facebook.downloader.dao.hibernate.HibernateFacebookDownloadDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="graphApiHandler" class="com.sones.facebook.graphApi.GraphApiHandler.FacebookGraphApiHandler">
		<property name="jsonHandler" ref="jsonHandler"/>
		<property name="restHandler" ref="restHandler"/>
		<property name="dateManager" ref="dateManager"/>
	</bean>
	
	<bean id="dateManager" class="com.sones.facebook.datemanager.logic.FacebookDateManager">
	</bean>
	
	<bean id="dozerMapper" class="org.dozer.DozerBeanMapper">
		<property name="mappingFiles">
			<list>
				<value>Dozer/facebook/GraphApi/Wall/CreateWallMapper.xml</value>
			</list>
		</property>
	</bean>
	
	<bean id="postDownloadDao" class="com.sones.facebook.downloader.dao.hibernate.HibernateFacebookPostDownloadDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="tokenDao" class="com.sones.facebook.tokenmanager.model.dao.hibernate.HibernateFacebookTokenDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="jsonHandler" class="com.sones.facebook.JsonHandler.FacebookJsonHandler">
	</bean>
	
	<bean id="restHandler" class="com.sones.facebook.graphApi.FacebookRestHandler.FacebookRestHandler">
	</bean>
	
</beans>
