<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="statusSearchDto" class="com.sones.sharedDto.facebook.keywordSearcher.feeds.StatusMessageSearchDto">
		<property name="id" ref="facebookPostIdDto"/>
		<property name="message" value="Status message"/>
	</bean>
	
	<bean id="facebookPostIdDto" class="com.sones.sharedDto.facebook.feed.FacebookPostIdDto">
		<property name="id" value="1"/>
	</bean>

	
	
</beans>
