<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="../spring-hibernate.xml"/>

	<bean id="keywordRetriever" class="com.sones.facebook.keywordSearcher.logic.keyword.retriever.KeywordRetriever">
		<property name="appUserKeywordDao" ref="appUserKeywordDao"/>
		<property name="mapper" ref="dozerMapper"/>
	</bean>
	
	<bean id="appUserKeywordDao" class="com.sones.facebook.keywordSearcher.dao.hibernate.HibernateApplicationUserKeywordDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="dozerMapper" class="org.dozer.DozerBeanMapper">
		<property name="mappingFiles">
			<list>
				<value>Dozer/facebook/keywordSearcher/SearchFeedMapper.xml</value>
			</list>
		</property>
	</bean>

</beans>
