<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<import resource="../spring-hibernate.xml"/>

	<bean id="dozerMapper" class="org.dozer.DozerBeanMapper">
		<property name="mappingFiles">
			<list>
				<value>Dozer/facebook/keywordSearcher/SearchFeedMapper.xml</value>
			</list>
		</property>
	</bean>
	
	<bean id="statusMessageDataManager" class="com.sones.facebook.keywordSearcher.logic.retriever.StatusMessageSearchDataManager">
		<property name="statusMessageDao" ref="statusMessageDao"/>
		<property name="manager" ref="dataManager"/>
		<property name="mapper" ref="dozerMapper"/>
	</bean>
	
	<bean id="videoDataManager" class="com.sones.facebook.keywordSearcher.logic.retriever.VideoSearchDataManager">
		<property name="manager" ref="dataManager"/>
		<property name="mapper" ref="dozerMapper"/>
		<property name="videoDao" ref="videoDao"/>
	</bean>
	
	<bean id="videoDao" class="com.sones.facebook.dao.hibernate.feed.HibernateVideoDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="photoDataManager" class="com.sones.facebook.keywordSearcher.logic.retriever.PhotoSearchDataManager">
		<property name="photoDao" ref="photoDao"/>
		<property name="manager" ref="dataManager"/>
		<property name="mapper" ref="dozerMapper"/>
	</bean>
	
	<bean id="photoDao" class="com.sones.facebook.dao.hibernate.feed.HibernatePhotoDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="noteDataManager" class="com.sones.facebook.keywordSearcher.logic.retriever.NoteSearchDataManager">
		<property name="noteDao" ref="noteDao"/>
		<property name="manager" ref="dataManager"/>
		<property name="mapper" ref="dozerMapper"/>
	</bean>
	
	<bean id="noteDao" class="com.sones.facebook.dao.hibernate.feed.HibernateNoteDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="linkDataManager" class="com.sones.facebook.keywordSearcher.logic.retriever.LinkSearchDataManager">
		<property name="linkDao" ref="linkDao"/>
		<property name="manager" ref="dataManager"/>
		<property name="mapper" ref="dozerMapper"/>
	</bean>
	
	<bean id="linkDao" class="com.sones.facebook.dao.hibernate.feed.HibernateLinkDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="checkinDataManager" class="com.sones.facebook.keywordSearcher.logic.retriever.CheckinSearchDataManager">
		<property name="checkinDao" ref="checkinDao"/>
		<property name="manager" ref="dataManager"/>
		<property name="mapper" ref="dozerMapper"/>
	</bean>
	
	<bean id="checkinDao" class="com.sones.facebook.dao.hibernate.feed.HibernateCheckinDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="dataManager" class="com.sones.facebook.keywordSearcher.logic.retriever.FacebookPostDataManager">
		<property name="facebookPostDownloadDao" ref="facebookPostDownloadDao"/>
		<property name="keywordSearchDao" ref="keywordSearchDao"/>
	</bean>
	
	<bean id="facebookPostDownloadDao" class="com.sones.facebook.downloader.dao.hibernate.HibernateFacebookPostDownloadDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="keywordSearchDao" class="com.sones.facebook.keywordSearcher.dao.hibernate.HibernateKeywordSearchDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="statusMessageDao" class="com.sones.facebook.dao.hibernate.feed.HibernateStatusMessageDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>

</beans>
