<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">root</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost/</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.default_schema">FCBK</property>
  <property name="hibernate.c3p0.max_statements">50</property>
  <property name="hibernate.c3p0.min_size">5</property>
  <property name="hibernate.c3p0.max_size">20</property>
  <property name="hibernate.c3p0.timeout">300</property>
  <property name="show_sql">true</property>
  <mapping class="com.sones.facebook.model.feed.Checkin"/>
  <mapping class="com.sones.facebook.model.feed.FacebookPost"/>
  <mapping class="com.sones.facebook.model.feed.comment.Comment"/>
  <mapping class="com.sones.facebook.placemanager.model.Place"/>
  <mapping class="com.sones.facebook.placemanager.model.PlaceCategory"/>
  <mapping class="com.sones.facebook.model.source.User"/>
  <mapping class="com.sones.facebook.model.source.Event"/>
  <mapping class="com.sones.facebook.model.place.Venue"/>
  <mapping class="com.sones.facebook.model.feed.EventPost"/>
  <mapping class="com.sones.facebook.model.feed.Link"/>
  <mapping class="com.sones.facebook.model.feed.Note"/>
  <mapping class="com.sones.facebook.model.feed.Photo"/>
  <mapping class="com.sones.facebook.model.feed.StatusMessage"/>
  <mapping class="com.sones.facebook.model.feed.Video"/>
  <mapping class="com.sones.facebook.model.feed.GroupPost"/>
  <mapping class="com.sones.facebook.model.feed.PagePost"/>
  <mapping class="com.sones.facebook.model.source.Page"/>
  <mapping class="com.sones.facebook.model.source.Group"/>
  <mapping class="com.sones.facebook.model.feed.SourceFacebookPost"/>
  <mapping class="com.sones.facebook.model.feed.SourceFacebookPostId"/>
  <mapping class="com.sones.facebook.model.source.Source"/>
  <mapping class="com.sones.facebook.model.source.SourceType"/>
  <mapping class="com.sones.facebook.keywordSearcher.model.FacebookPostKeywordResult"/>
  <mapping class="com.sones.facebook.keywordSearcher.model.Keyword"/>
  <mapping class="com.sones.facebook.keywordSearcher.model.KeywordSearch"/>
  <mapping class="com.sones.facebook.keywordSearcher.model.ApplicationUserKeyword"/>
  <mapping class="com.sones.facebook.keywordSearcher.model.ApplicationUserKeywordId"/>
  <mapping class="com.sones.facebook.usermanager.model.ApplicationUserSource"/>
  <mapping class="com.sones.facebook.usermanager.model.ApplicationUserSourceId"/>
  <mapping class="com.sones.facebook.downloader.model.FacebookDownload"/>
  <mapping class="com.sones.facebook.downloader.model.FacebookPostDownload"/>
  <mapping class="com.sones.facebook.downloader.model.FacebookPostDownloadId"/>
  <mapping class="com.sones.facebook.tokenmanager.model.FacebookAccount"/>
  <mapping class="com.sones.facebook.tokenmanager.model.FacebookToken"/>
  <mapping class="com.sones.usermanager.model.ApplicationUser"/>
 </session-factory>
</hibernate-configuration>
