<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="user" class="com.sones.facebook.model.source.User">
		<property name="id" value="1"/>
		<property name="name" value="Sartios"/>
		<property name="middleName" value="Savramis"/>
		<property name="lastName" value="Savramis"/>
		<property name="username" value="Sartios Savramis"/>
		<property name="hometown" value="Sarti"/>
		<property name="location" value="Chalkidiki"/>
	</bean>
	
	<bean id="eventPost" class="com.sones.facebook.model.feed.EventPost">
		<property name="id" value="1"/>
		<property name="user" ref="user"/>
		<property name="createdDate" ref="date"/>
		<property name="comments">
			<set>
				<ref local="comment"/>
			</set>
		</property>
		<property name="event" ref="event"/>
	</bean>
	
	<bean id="event" class="com.sones.facebook.model.source.Event">
		<property name="id" value="1"/>
	</bean>

	<bean id="comment" class="com.sones.facebook.model.feed.comment.Comment">
		<property name="id" value="1"/>
		<property name="createdDate" ref="date"/>
		<property name="message" value="comment message"/>
		<property name="user" ref="user"/>
	</bean>
	
	<bean id="date" class="java.util.Date">
		<property name="month" value="1"/>
		<property name="year" value="2001"/>
		<property name="date" value="21"/>
		<property name="hours" value="20"/>
		<property name="minutes" value="15"/>
		<property name="seconds" value="32"/>
	</bean>
	
	<bean id="facebookPost" class="com.sones.facebook.model.feed.FacebookPost">
		<property name="id" value="1"/>
		<property name="user" ref="user"/>
		<property name="comments">
			<set>
				<ref local="comment"/>
			</set>
		</property>
		<property name="createdDate" ref="date"/>
	</bean>

</beans>
